.img-duo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;

    img {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .img-duo {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }
}