.internal-link {
    display: inline-grid;
    grid-template-areas: "left right";
    align-items: center;
    justify-items: start;
    justify-content: start;
    // border-bottom: 1px solid base.$font-color;
    color: initial;
    background-color: var(--bg-color);

    h4 {
        text-decoration: underline;
        grid-area: left;
    }

    &:hover {
        .arrow {
            width: 1.75rem;
        }
    }

    .arrow {
        grid-area: right;
        position: relative;
        margin-left: 0.5rem;
        width: 1.5rem;
        color: var(--font-color);
        border-top: 0.025rem solid;
        border-bottom: 0.025rem solid;
        transition: width 0.1s ease-in-out;

        &::before {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            display: block;
            content: "";
            height: 0.25rem;
            width: 0.25rem;
            border-width: 0.075rem 0.075rem 0 0;
            border-style: solid;
        }
    }

    &.goofy {
        padding-top: 0.25rem;
        padding-left: 0.25rem;
        padding-bottom: 0.25rem;

        h4 {
            grid-area: right;
        }

        .arrow {
            grid-area: left;
            margin-right: 0.5rem;
            margin-left: 0;

            &::before {
                right: auto;
                left: 0;
                transform: translateY(-50%) rotate(-135deg);
            }
        }
    }
}