.project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img text";
    column-gap: 4rem;

    .img {
        grid-area: img;
        width: 100%;
    }

    .text {
        grid-area: text;
        align-self: flex-start;

        .desc {
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
            color: initial;
        }
    }

    &:not(:first-of-type) {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 450px) {
    .project-card {
        grid-template-columns: none;
        grid-template-areas: "img"
                             "text";
        row-gap: 1rem;
        
        &:not(:first-of-type) {
            margin-top: 4rem;    }
    }


}