.img-text-duo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img text";
    column-gap: 4rem;
    align-items: center;

    &.goofy {
        grid-template-areas: "text img";
    }

    &:not(:first-child) {
        margin-top: 2rem;
    }

    .img {
        grid-area: img;
        width: 100%;
    }

    .text {
        grid-area: text;
    }
}

@media only screen and (max-width: 450px) {
    .img-text-duo {
        grid-template-columns: none;
        grid-template-areas: "img"
                             "text";
        row-gap: 2rem;

        &.goofy {
            grid-template-columns: none;
            grid-template-areas: "img"
                                 "text";
            row-gap: 2rem;
        }
    }
}