.idea-grid {
    margin: 4rem 0;

    .title {
        text-align: center;
    }

    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4em;
        column-gap: 4rem;
        padding: 2em;
        align-content: center;

        &.is-odd {
            grid-template-areas: "loner loner";

            #loner {
                grid-area: loner;

                img {
                    width: 11.25%;
                }
            }
        }

        figure {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 25%;
            }

            figcaption {
                margin-top: 0.5em;
                text-align: center;

                h4 {
                    line-height: 1em;
                }
            }
        }
    }

}

@media only screen and (max-width: 450px) {
    .idea-grid {

        .body {
            display: flex;
            flex-direction: column;

            &.is-odd {
                #loner {
                    img {
                        width: 25%;
                    }
                }
            }
        }
    }
}