.nested-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;

    .list-title {
        color: var(--primary-color);
    }

    ul {
        list-style: none;
        padding-inline: 0;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 450px) {
    .nested-list {
        display: flex;
        flex-direction: column;
    }
}
