header {
    position: sticky;
    top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
    z-index: 20;

    img {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    header {
        top: 1.5rem;
        margin-bottom: 4rem;
    }
}