.external-link {
    display: inline-grid;
    grid-template-areas: "text arrow";
    align-items: center;
    color: initial;

    &.centered {
        align-content: center;
    }

    h3 {
        text-decoration: underline;
        font-weight: 400;
    }

    &:hover {
        .arrow {
            width: 1.75rem;
            transition: width 0.1s ease-in-out;
        }
    }

    .arrow {
        position: relative;
        top: 40%;
        margin-left: 0.5rem;
        width: 1.5rem;
        border-top: 0.025rem solid var(--font-color);
        border-bottom: 0.025rem solid var(--font-color);
        transform: rotate(-45deg);
        transform-origin: left;

        &::before {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            display: block;
            content: "";
            height: 0.25rem;
            width: 0.25rem;
            border-width: 0.075rem 0.075rem 0 0;
            border-style: solid;
            border-color: var(--font-color);
        }
    }
}