.content-section {
    
    .section-header {
        color: var(--accent-color);
        padding-bottom: 0.5rem;
        border-bottom: 0.0625rem solid var(--font-color);
        margin-bottom: 1.5rem;
    }

    &:not(:first-of-type) {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 450px) {
    .content-section {
        &:not(:first-of-type) {
            margin-top: 4rem;
        }
    }
}
