nav {
    align-self: start;
    position: sticky;
    top: 6.75rem;

    ul {
        margin: 0;
        list-style: none;
        padding-inline: 0;
    
        .nav-item {
            line-height: 0;

            .anchor {
                cursor: pointer;
                transition: opacity 0.1s ease-in-out;

                &.selected {
                    
                    h4 {
                        color: var(--accent-color);
                        font-weight: 500;
                    }
                }

                &:hover {
                    opacity: 0.5;
                }

            }
    
            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 810px) { 
    nav {
        position: fixed;
        top: unset;
        left: 0;
        bottom: 0;
        padding: 1rem 1rem 3.5rem;
        background-color: var(--bg-color);
        z-index: 10;
        border-top: 1px solid var(--font-color);
        width: 100vw;
        overflow-x: scroll;
        text-align: center;

        ul {
            display: inline-flex;
            flex-direction: row;
            padding-right: 3rem;

            .nav-item {
                &:not(:first-of-type) {
                    margin-top: 0;
                    margin-left: 1.25rem;
                }
            }
        }
    }
}
