.quote-block {
    margin-top: 2rem;
    padding: 0 2rem;

    .quote-mark {
        margin-bottom: 0;
        color: var(--accent-color);

        &#right {
            text-align-last: right;
        }
    }

    p {
        font-family: var(--mono-font);
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .quote-block {
        padding: 0 0.5rem;
    }
}