.content {
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    column-gap: 64px;
    grid-template-columns: 132px 720px;
    justify-content: center;
    grid-template-areas: "header header"
                         "nav body";
    
    header {
        grid-area: header;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: body;
    }
}

@media only screen and (max-width: 810px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        margin-top: 1.5rem;
    }
}