@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:wght@400;500;600&display=swap');

// Desktop Font Sizes
$dt-h1-size: 2.5rem; // 40px
$dt-h2-size: 1.5rem; // 24px;
$dt-h3-size: 1.25rem; // 20px;
$dt-h4-size: 0.875rem; // 14px;
$dt-p-size: 1.25rem; // 14px;

// Mobile Font sizes
$m-h1-size: 1.75rem; // 28px
$m-h2-size: 1.25rem; // 20px;
$m-h3-size: 1rem; // 16px;
$m-h4-size: 0.75rem; // 12px;
$m-p-size: 1rem; // 16px;

:root {
    --bg-color: hsl(227, 100%, 96%);
    --primary-color: hsl(234, 100%, 60%);
    --accent-color: hsl(119, 100%, 40%);
    --font-color: hsl(0, 0%, 17%);
    --em-color: hsl(0, 0%, 0%);

    --mono-font: 'IBM Plex Mono', monospace;
    --sans-serif-font: 'DM Sans', sans-serif;
}

.common-header {
    font-family: var(--mono-font);
    text-transform: uppercase;
    margin: 0;
}

@mixin dt-h1($weight) {
    font-size: $dt-h1-size;
    font-weight: $weight;
    @extend .common-header
}

@mixin dt-h2($weight) {
    font-size: $dt-h2-size;
    font-weight: $weight;
    @extend .common-header
}

@mixin dt-h4($weight) {
    font-size: $dt-h4-size;
    font-weight: $weight;
    line-height: 0.9rem;
    @extend .common-header
}

body {
    margin: 0;
    background-color: var(--bg-color);
    
    color: var(--font-color);
    font-family: var(--sans-serif-font);
    font-size: $dt-p-size;

    padding-bottom: 6rem;
    scroll-padding-block-start: 6rem;
}

a {
    text-decoration: none;
}

h1 {
    @include dt-h1(600);
    color: var(--primary-color);
    margin-bottom: 4rem;
}

h2 {
    @include dt-h2(500);
    color: var(--primary-color);
}

h3 {
    font-size: $dt-h3-size;
    font-family: var(--mono-font);
    font-weight: 500;
    color: initial;
    margin: 0;
}

h4 {
    @include dt-h4(400);
}

h4.bold {
    @include dt-h4(500);
}

p {
    margin-top: 1.25rem;
    margin-bottom: 0;

    &:first-of-type {
        margin-top: 0;
    }
    opacity: 0.9;
}

em {
    font-style: unset;
    font-weight: 600;
    color: var(--em-color);
    // border-bottom: 2px solid $font-color;
}

p.floating-block {
    margin-top: 2rem;
}

@media only screen and (max-width: 450px) { 

    h1 {
        font-size: $m-h1-size;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: $m-h2-size;
    }
    h3 {
        font-size: $m-h3-size;
    }

    h4 {
        font-size: $m-h4-size;

        &.bold {
            font-size: $m-h4-size;
        }
    }

    body {
        font-size: $m-p-size;
        padding-bottom: 8rem;
    }
}