.solo-graphic {
    margin: 0;
    text-align: center;
    margin: 2rem auto;

    img {
        margin: 0 auto; 
        width: 100%;
    }

    &.small {
        img {
            width: 50%;
        }

        figcaption {
            text-align: center;
        }
    }

    &.ignore-top-padding {
        margin: 0 auto 1rem;
    }


    figcaption {
        font-size: 0.875rem;
        font-style: italic;
        opacity: 0.6;
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {
    .solo-graphic {

        &.small {

            img {
                width: 100%;
            }
        }
    }
}